body {
    font-family: 'Montserrat', sans-serif;
  }

.header
{
    height: 80vh;
    background: url(https://upload.wikimedia.org/wikipedia/commons/7/76/Nora_Fatehi_in_March_2022_enhanced.jpg) no-repeat center center /cover;

  }

  
.banner{
    position: absolute; 
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
  }

  .icon
  {
    color:rgb(230, 18, 174);
    margin: 4%;
    background-color: rgba(140, 8, 173, 0.747);;
  }

  .card-img
  {
    width: 400px;
    height:450px;
    margin: 60px;
  }

  .card
  {
  background-color: rgba(115, 38, 131, 0.466);
  box-shadow: 7px 18px 50px rgb(140, 92, 92);
  max-width: 350px;
  margin: 40px;
  }